:root {
  /*colors variable*/
  --rg-primary: #19703D;
  --rg-secondary: #000;
  --rg-black: #000;
  --rg-white: #fff;
  --rg-red: #000;
  --rg-green: #00B81C;
  --rg-gray: #2B2F32;
  --rg-gray-100: #333333;
  --rg-gray-200: #555555;
  --rg-gray-300: #C9C9C9;
  --rg-gray-400: #F5F5F7;
  --rg-yellow: #FFED3B;
  /*font family*/
  --rg-ff:'Poppins', sans-serif;
}

/*media queries*/
/*disable hover on touch devices*/
.rg-header, .rg-header-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*CSS RESET*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--rg-ff);
  line-height: 1.5;
  font-size: 1rem;
  color: var(--rg-gray-200);
  font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

figure, p {
  margin: 0 0 1rem;
}

ul, ol {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}

.col {
  flex: 1 1 0%;
}

.rg-col-50 {
  flex: 1 1 50%;
  max-width: 50%;
  padding-inline: 15px;
}

.rg-row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}

@media (max-width: 767px) {
  .rg-xs-100 {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
}

.comman-title {
  color: var(--rg-primary);
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .comman-title {
    font-size: 1.875rem;
  }
}

@media (min-width: 1400px) {
  .comman-title {
    font-size: 2.125rem;
  }
}

.comman-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--rg-primary);
}

.spacer-70 {
  padding-block: 70px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.d-flex, .rg-header-topleft li {
  display: flex;
}

.d-none, .rg-header-top, .rg-header-nav {
  display: none;
}

.items-center, .rg-header-topleft li {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-none {
  list-style: none;
}

.rg-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--rg-white);
  border: 2px solid #E8E8E8;
  box-shadow: 0px 1px 30px #A8A8A831;
  border-radius: 0.75rem;
}

.arrow-r-icon {
  background: url(../images/chev-right.svg) no-repeat center;
  width: 10px;
  display: inline-block;
}

/*COMPONENTS*/
/**********BUTTON CSS**********/
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--rg-primary);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 2px solid var(--rg-primary);
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 50px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  background: var(--rg-primary);
  color: var(--rg-white);
}

.btn-flat {
  background-color: var(--rg-primary);
  color: var(--rg-white);
  border-radius: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .55rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
}

/**********HEADER CSS**********/
.rg-header {
  box-shadow: 0px 3px 16px #00000029;
  padding-block: 15px;
}

@media (min-width: 992px) {
  .rg-header {
    padding-block: 0;
  }
}

.rg-header .rg-row {
  justify-content: space-between;
  margin-inline: 0;
}

.rg-header-top {
  background: var(--rg-primary);
  font-size: 1rem;
  color: #eee;
}

@media (min-width: 768px) {
  .rg-header-top {
    display: block;
  }
}

.rg-header-top i {
  margin-right: 8px;
}

.rg-header-top a {
  color: #eee;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.rg-header-topleft li {
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .rg-header-topleft li {
    padding: 15px 30px;
  }
}

@media (hover: hover) {
  .rg-header-topleft li:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.rg-header-topleft li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.rg-header-topright a:hover {
  color: #000;
}

.rg-header-topright i {
  font-size: 1.25rem;
  margin-inline: 10px;
}

.rg-header-top .rg-row {
  justify-content: space-between;
}

.rg-header-logo {
  max-width: 160px;
  image-rendering: pixelated;
}

@media (min-width: 768px) {
  .rg-header-logo {
    max-width: 180px;
  }
}

.rg-header-nav {
  flex: 1 0 100%;
  margin-left: auto;
}

@media (min-width: 992px) {
  .rg-header-nav {
    display: block;
    flex: initial;
  }
}

.rg-header-nav-item {
  position: relative;
}

@media (min-width: 992px) {
  .rg-header-nav-item:hover {
    background-color: rgba(25, 112, 61, 0.1);
    transition: 0.3s ease-in-out;
  }
  .rg-header-nav-item:hover .rg-header-submenu {
    opacity: 1;
    left: 0;
    z-index: 9999;
  }
}

.rg-header-nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--rg-gray-100);
  text-decoration: none;
  padding: 8px 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  position: relative;
}

@media (min-width: 992px) {
  .rg-header-nav-link {
    font-size: 1rem;
    padding: 30px 15px;
  }
}

.rg-header-nav-link:hover {
  color: var(--rg-primary);
}

.rg-header-nav-link .fa-angle-down {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

@media (min-width: 768px) {
  .rg-header-nav-link .fa-angle-down {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
  }
}

.rg-header-nav-link .fa-angle-down:before {
  content: "\f067";
}

@media (min-width: 768px) {
  .rg-header-nav-link .fa-angle-down:before {
    content: "\f107";
  }
}

.rg-header-nav-link .fa-angle-down.expanded:before {
  content: "\f068";
}

.rg-header-nav.show {
  display: block;
  background: #1c5f3c;
  margin-top: 20px;
  margin-inline: -15px;
}

@media (min-width: 768px) {
  .rg-header-nav.show {
    margin-inline: -23px;
  }
}

@media (min-width: 992px) {
  .rg-header-nav.show {
    margin-inline: 0;
  }
}

.rg-header-nav.show ul {
  display: block;
}

.rg-header-nav.show ul .rg-header-nav-link {
  color: var(--rg-white);
}

.rg-header-nav.show .rg-header-nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.rg-header-submenu {
  background-color: var(--rg-white);
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
  left: -9999px;
  min-width: 240px;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: opacity 0.4s ease-in-out 0s;
  z-index: -9999;
  display: block !important;
  border-radius: 5px;
  padding: 10px;
}

@media (min-width: 768px) {
  .rg-header-submenu:after {
    content: "";
    position: absolute;
    top: -7px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--rg-white);
  }
}

.rg-header-submenu li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.rg-header-submenu .rg-header-nav-link {
  padding: 10px 15px;
  font-size: 0.875rem;
}

.rg-header-submenu.show {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  background: transparent;
  padding: 0;
  position: relative;
  left: auto;
  min-width: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.rg-header-submenu.show li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.rg-header-submenu.show .rg-header-nav-link {
  padding-left: 30px;
}

.rg-header-hamburger {
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: right;
}

.rg-header-hamburger > svg {
  width: 24px;
}

@media (min-width: 992px) {
  .rg-header-hamburger {
    display: none;
  }
}

.rg-footer {
  background: var(--rg-gray);
  padding-block: 50px;
}

.rg-footer-top {
  border-bottom: 1.5px solid #707070;
}

.rg-footer-toptitle {
  font-size: 1.375rem;
  color: var(--rg-green);
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .rg-footer-toptitle {
    font-size: 1.5625rem;
  }
}

@media (min-width: 1400px) {
  .rg-footer-toptitle {
    font-size: 1.875rem;
  }
}

.rg-footer-top li:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .rg-footer-top li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .rg-footer-top li:not(:last-child) {
    margin-right: 50px;
  }
}

.rg-footer-top a {
  text-decoration: none;
  color: var(--rg-white);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .rg-footer-top a {
    font-size: 1.125rem;
  }
}

@media (min-width: 1400px) {
  .rg-footer-top a {
    font-size: 1.75rem;
  }
}

.rg-footer-top i {
  display: inline-block;
  font-style: normal;
  margin-right: 10px;
}

.rg-footer-top .form-control {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .rg-footer-top .form-control {
    margin-right: 15px;
    width: calc(100% - 150px);
    margin-bottom: 0;
  }
}

.rg-footer ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.rg-footer a:hover {
  text-decoration: underline;
}

.rg-footer-form-desc {
  font-size: 1.375rem;
  color: var(--rg-gray-300);
}

.rg-footer-nav {
  border-bottom: 1.5px solid #707070;
}

.rg-footer-nav li {
  margin-bottom: 10px;
}

.rg-footer-nav a {
  font-size: 1rem;
  color: #C9C9C9;
  text-decoration: none;
}

@media (min-width: 992px) {
  .rg-footer-nav a {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  .rg-footer-nav a {
    font-size: 1.125rem;
  }
}

.rg-footer-navtitle {
  font-size: 1.375rem;
  color: var(--rg-green);
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;
  display: inline-block;
}

@media (min-width: 768px) {
  .rg-footer-navtitle {
    margin-bottom: 30px;
  }
}

.rg-footer-bottomnav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 20px;
  border-bottom: 1.5px solid #707070;
}

.rg-footer-bottomnav li {
  position: relative;
}

.rg-footer-bottomnav li:not(:last-child):after {
  content: '|';
  color: var(--rg-primary);
}

.rg-footer-bottomnav a {
  font-size: 0.875rem;
  color: var(--rg-green);
  padding-inline: 15px;
}

@media (min-width: 1200px) {
  .rg-footer-bottomnav a {
    font-size: 1.0625rem;
  }
}

.rg-footer-copyright {
  color: var(--rg-gray-300);
  padding-block: 30px;
  margin-bottom: 0;
}

.rg-footer .fab {
  font-style: normal;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--rg-white);
}

.rg-footer .fab svg {
  width: 20px;
  height: 20px;
}

.rg-footer .fab.fa-twitter {
  background-color: #00acee;
}

.rg-footer .fab.fa-linkedin-in {
  background-color: #0e76a8;
}

.rg-footer .fab.fa-facebook-f {
  background-color: #4267B2;
}

.rg-footer .fab.fa-youtube {
  background-color: #FF0000;
}

.rg-footer .social-icons a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .accordion {
    padding-right: 50px;
  }
}

.accordion-collapse {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  font-weight: 400;
  font-style: normal;
}

.accordion-header {
  font-size: 1.125rem;
  color: var(--rg-black);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--rg-gray-300);
  padding-bottom: 10px;
  cursor: pointer;
}

.accordion-header:hover {
  color: var(--rg-primary);
}

@media (min-width: 992px) {
  .accordion-header {
    font-size: 1.3125rem;
  }
}

@media (min-width: 1400px) {
  .accordion-header {
    font-size: 1.5625rem;
  }
}

.accordion-header::after {
  content: '+';
}

.accordion-header.active {
  color: var(--rg-primary);
}

.accordion-header.active::after {
  content: '-';
}

.accordion-body {
  padding-top: 10px;
}

.accordion-body-heading {
  color: var(--rg-black);
  font-size: 1rem;
}

@media (min-width: 992px) {
  .accordion-body-heading {
    font-size: 1.125rem;
  }
}

@media (min-width: 1400px) {
  .accordion-body-heading {
    font-size: 1.25rem;
  }
}

.accordion-body-desc {
  font-size: 0.875rem;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .accordion-body-desc {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1400px) {
  .accordion-body-desc {
    font-size: 1.125rem;
  }
}

/*VENDORS*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("/images/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: var(--rg-primary);
  color: #fff;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-prev.slick-disabled:after,
.slick-next.slick-disabled:before,
.slick-next.slick-disabled:after {
  opacity: 0.3;
}

.slick-prev:before,
.slick-next:before {
  content: "";
  color: #19703D;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 15px;
  height: 15px;
  display: block;
}

.slick-prev {
  left: -25px;
}

.slick-prev:before {
  background: url(../images/long-arrow-alt-left-solid.svg) no-repeat center;
}

.slick-next {
  right: -25px;
}

.slick-next:before {
  background: url(../images/long-arrow-alt-right-solid.svg) no-repeat center;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  font-size: 50px;
  line-height: 20px;
  text-align: center;
  background-color: #70AA39;
  opacity: 0.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50px;
}

.slick-dots li.slick-active button:before {
  color: #70AA39;
  opacity: 1;
}
/*# sourceMappingURL=main-theme.css.map */