
@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

/*media queries*/
@mixin xxl {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

/*disable hover on touch devices*/
@mixin d-hover {
    @media (hover: hover) {
        @content;
    }
}

%flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}