:root {
    /*colors variable*/
    --rg-primary: #19703D;
    --rg-secondary: #000;
    --rg-black: #000;
    --rg-white: #fff;
    --rg-red: #000;
    --rg-green: #00B81C;

    --rg-gray: #2B2F32;
    --rg-gray-100: #333333;
    --rg-gray-200: #555555;
    --rg-gray-300: #C9C9C9;
    --rg-gray-400: #F5F5F7;
    
    --rg-yellow: #FFED3B;
    
    /*font family*/
    --rg-ff:'Poppins', sans-serif;
}