/**********HEADER CSS**********/
.rg-header {
    @extend %flex;
    box-shadow: 0px 3px 16px #00000029;
    padding-block: 15px;
    @include lg {
        padding-block: 0;
    }
    .rg-row {
        justify-content: space-between;
        margin-inline: 0;
    }
    &-top {
        background: var(--rg-primary);
        font-size: toRem(16);
        color: #eee;
        @extend .d-none;
        @include md {
            display: block;
        }
        i {
            margin-right: 8px;
        }
        a{
            color: #eee;
            display: inline-block;
            transition: 0.3s ease-in-out;
        }
        &left {
            li {
                @extend .d-flex;
                @extend .items-center;
                padding: 15px;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                @include lg {
                    padding: 15px 30px;
                }
                @include d-hover {
                    &:hover {
                        background: rgba(0,0,0,0.2);
                    }
                }
            }
            li:not(:last-child) {
                border-right:1px solid  rgba(255,255,255,0.1);
            }
        }
        &right {
            a:hover {
                color: #000;
            }
            i {
                font-size: toRem(20);
                margin-inline: 10px;
            }
        }
        .rg-row {
            justify-content: space-between;
        }
    }
    &-logo {
        max-width: 160px;
        image-rendering: pixelated;
        @include md {
            max-width: 180px;
        }

    }
    &-nav {
        @extend .d-none;
        flex: 1 0 100%;
        @include lg {
            display: block;
            flex: initial;
        }
        margin-left: auto;
        ul {
            @extend %flex;
        }
        &-item {
            position: relative;
            @media (min-width:992px) {
                &:hover {
                    background-color: rgba(25,112,61,0.1);
                    transition: 0.3s ease-in-out;
                    .rg-header-submenu {
                        opacity: 1;
                        left: 0;
                        z-index: 9999;
                    }
                }
            }
        }
        &-link {
            font-size: toRem(16);
            font-weight: 400;
            color: var(--rg-gray-100);
            text-decoration: none;
            padding: 8px 15px;
            font-weight: 500;
            text-transform: uppercase;
            display: block;
            position: relative;
            @include lg {
                font-size: toRem(16);
                padding: 30px 15px;
            }
            &:hover {
                color: var(--rg-primary);
            }
            .fa-angle-down {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                @include md {
                    position: relative;
                    right: auto;
                    top: auto;
                    transform: none;
                }
                &:before {
                    content: "\f067";
                    @include md {
                        content: "\f107";
                    }
                }
                &.expanded:before {
                    content: "\f068";
                }
            }
        }
        &.show {
            display: block;
            background: #1c5f3c;
            margin-top: 20px;
            margin-inline: -15px;
            @include md {
                margin-inline: -23px;
            }
            @include lg {
                margin-inline: 0;
            }
            ul {
                display: block;
                .rg-header-nav-link {
                    color: var(--rg-white);
                }
            }
            .rg-header-nav-item {
                border-bottom: 1px solid rgba(255,255,255,0.5);
            }

        }

    }
    &-submenu {
        background-color: var(--rg-white);
        box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
        left: -9999px;
        min-width: 240px;
        opacity: 0;
        position: absolute;
        top: 100%;
        transition: opacity 0.4s ease-in-out 0s;
        z-index: -9999;
        display: block !important;
        border-radius: 5px;
        padding: 10px;
        @include md {
            &:after {
                content: "";
                position: absolute;
                top: -7px;
                left: 20px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid var(--rg-white);
            }
        }
        li:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
        .rg-header-nav-link {
            padding: 10px 15px;
            font-size: toRem(14);
        }
        &.show {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            background: transparent;
            padding: 0;
            position: relative;
            left: auto;
            min-width: none;
            border-top: 1px solid rgba(255,255,255,0.5);
            li:not(:last-child) {
                border-bottom: 1px solid rgba(255,255,255,0.5);
            }
            .rg-header-nav-link {
                padding-left: 30px;
            }
        }
    }
    &-hamburger {
        cursor: pointer;
        width: 35px;
        height: 35px;
        text-align: right;
        > svg {
            width: 24px;
        }
        @include lg {
            display: none;
        }
    }
}
